/* .box {
    margin: 0 auto;
    width: 60%;
    min-height: 400px;
    border: 2px solid #000; 
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(192, 189, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
/* .mini {
    width: 200px;
    height: 150px;
    border-radius: 4px;
    background-color: rgb(98, 16, 153);
    margin: 0 0 10px 20px;
} */
h1 {
    text-align: center;
}
.input-text {
    width: 250px;
    height: 50px;
}

.close {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(255, 10, 10);
    text-align: center;
    color: #fff;
}
.new--div {
    width: 100px;
    height: 100px;
    background-color: rgb(60, 6, 158);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;

}

.box {
    width: 900px;
    height: 450px;
    border: 1px solid rgb(82, 17, 17);
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
}
h1{
    text-align: center;
}
.root div {
    width:  150px;
    height: 50px;
    background-color:rgb(7, 53, 151);
    color: #fff;
    margin: 20px ;
    float: left;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.root {
    display: flex;
    align-items:center;
    justify-content: center;
}